:root {
  --primaryColor: #04aa6d;
  --secondaryColor: #bdbdbd;
  --darkPrimaary: #000000;
  --darkSecondary: #141414;
}
body {
  background-color: var(--darkPrimaary);
}
/* navbar css */
.nav-link.active,
.nav-link:hover {
  color: white !important;
  background: var(--primaryColor);
}
.nav-link {
  padding: 10px 15px !important;
  font-size: 15px;
}
aside.admin_nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

aside.admin_nav ul li a,
nav.admin_nav3 .container-fluid .navbar-collapse .navbar-nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}
aside.admin_nav ul li a:hover,
aside.admin_nav ul li a.active,
nav.admin_nav3 .container-fluid .navbar-collapse .navbar-nav li a:hover,
nav.admin_nav3 .container-fluid .navbar-collapse .navbar-nav li a.active {
  background: var(--primaryColor);
}

/* form css start */


.form-control { 
  background:transparent;
  color:white !important;
  border-color: #bdbdbd;
}
 .form-select { 
  background:transparent;
  color: #bdbdbd !important;
  border-color: #bdbdbd;
}
.form-control::placeholder { 
  color: #bdbdbd;
}
form label {
  color: #bdbdbd;
}
form input[type="date"], form input[type="file"] {
  color: #bdbdbd !important;
}
.form-control.password_field {
  padding-right: 32px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;

}
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
}

.form-select option {
  color: #080808;
  background: #cbcbcb;
}
.form-control:focus,
.form-check-input:focus,
.form-select:focus {
  box-shadow: none;
  border-color: var(--primaryColor);
  background-color: transparent;
}

.form-control.is-invalid:focus {
  box-shadow: none;
}

.form-check-input:not(:checked) {
  border-color: var(--bs-border-color) !important;
}
.form-check-input:checked[type="checkbox"] {
  background: var(--primaryColor);
  border-color: var(--primaryColor);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type="radio"] {
  background: var(--primaryColor);
  border-color: var(--primaryColor);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.forgot_pass_link:hover {
  text-decoration: underline;
}

.submit_btn {
  background: var(--primaryColor);
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 6px 0;
}
.card:has(form), .card:has(table) {

  border: 1px solid gray;
  background-color: var(--darkSecondary);
}
.card:has(form) .card-header h3, .card:has(table) .card-header h3 {
  margin-top: 6px;
}
.card:has(form) .card-header h3:before, .card:has(table) .card-header h3:before {
  position: absolute;
  width: 50px;
  height: 3px;
  background: var(--primaryColor);
  left: 50%;
  content: '';
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 2px;
}
.pass_show_hide{
  position: absolute;
  top: 43px;
  right: 11px;
  color: #bdbdbd;
  cursor: pointer;
}
/* form css end */

/* navbar css start*/
.navbar-toggler > span {
  width: 30px;
  height: 3px;
  background: white;
  display: inherit;
  margin-bottom: 4px;
  border-radius: 5px;
}

.navbar-toggler > span:last-child {
  margin: 0;
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler:focus {
  outline: none;
}

button.adminNavClose {
  background: none;
  border: none;
}

button.adminNavClose span {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
}

button.adminNavClose span:first-child {
  transform: translateY(2px) rotate(48deg);
}

button.adminNavClose span:last-child {
  transform: rotate(-48deg);
}

.dashboard_item {
  text-align: center;
  padding: 18px 0;
  border-radius: 8px;
}

.dashboard_item h2 {
  font-size: 37px;
  font-weight: 600;
  margin-bottom: 2px;
}

.dashboard_item h4 {
  margin-bottom: 0;
  color: #626262;
  font-size: 22px;
}

.admin_table thead tr th, .admin_table tbody tr td {
  border: none;
  border-right: .1px solid gray;
  border-top: .1px solid gray;
}
.admin_table thead tr th:last-child, .admin_table tbody tr td:last-child {
 border-right: none;
} 
.admin_table tbody tr td:first-child {
  width: 60px;
 } 

 .admin_table thead tr th {
  background: black;
  color: white;
}

.admin_table tbody tr td {
  background: black;
  color: #d5d5d5;
}

.admin_table tbody tr:nth-child(odd) td {
  background: #00e39026;
}

/* pagination part css */
.pagination_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination li a {
    background: transparent;
    border: .1px solid gray;
    color: #c5c5c5;
}

.pagination li.active a {
  background: var(--primaryColor);
}
.pagination li.active  {
  border-color: var(--primaryColor);
}

.rowLimit {
  display: flex;
  align-items: center;
}